@charset "ISO-8859-1";
 body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
        }
        .sidebar {
            height: 100%;
            width: 300px;
            position: fixed;
            background-color: #1b3a4b;
            padding-top: 60px;
            margin-top: -40px;
        }
        .sidebar a {
            padding: 10px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
            transition: background-color 0.3s, transform 0.3s;
        }
        .sidebar a:hover {
            background-color: orange;
            transform: scale(1.0);
        }
        .sidebar i {
            margin-right: 20px;
        }
        .content {
            margin-left: 300px; /* Adjusted margin-left to match the sidebar width */
            padding: 20px;
        }
        h2 {
            color: #343a40;
        }
        form {
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin-left: 20px; /* Adjusted margin-left */
        }
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: black;
        }
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }
        button:hover {
            background-color: #45a049;
        }